@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'PretendardKR';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7AF;
}


@import 'tailwindcss';

@theme {
  --color-background-light: #fafafa;
  --color-background-gray: #f0f0f3;
  --color-primary: #eb5e28;
  --color-charcoal: #403d39;
}

@layer utilities {
  .text-shadow-header {
    text-shadow:
      2px 2px 2px rgba(0, 0, 0, 0.25),
      -2px -2px 2px rgba(255, 255, 255, 0.35);
  }
  .inner-shadow {
    box-shadow:
      inset -2px -2px 2px rgba(255, 255, 255, 0.25),
      inset 2px 2px 2px rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255);
  }
  .box-shadow {
    box-shadow:
      2px 2px 2px rgba(0, 0, 0, 0.25),
      -2px -2px 2px rgba(255, 255, 255, 0.35);
  }
  .header-shadow {
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1),
      0 2px 4px -2px rgba(0, 0, 0, 0.06);
  }
  .hover-inner-shadow:hover {
    box-shadow:
      inset -2px -2px 2px rgba(255, 255, 255, 0.25),
      inset 2px 2px 2px rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255);
  }
  .vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

@layer components {
  .navlink {
    @apply transition-all text-charcoal;
  }
  .navlink:hover {
    @apply font-semibold;
    color: #f5861d !important;
  }
  .navlink-active {
    @apply font-bold;
  }
  .header-border {
    position: relative;
  }
  .header-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    height: 2px;
    background-color: rgba(64, 61, 57, 0.05);
    border-radius: 9999px;
    box-shadow:
      inset 0 1px 2px rgba(0, 0, 0, 0.15),
      inset 0 -1px 2px rgba(255, 255, 255, 0.1);
  }
  .footer-border {
    position: relative;
  }
  .footer-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 1rem;
    right: 1rem;
    height: 2px;
    background-color: rgba(64, 61, 57, 0.05);
    border-radius: 9999px;
    box-shadow:
      inset 0 1px 2px rgba(0, 0, 0, 0.15),
      inset 0 -1px 2px rgba(255, 255, 255, 0.1);
  }
}

body {
  font-family:'PretendardKR', 'Prompt', sans-serif;
  background-color: #fafafa;
}

.slick-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

/* .slick-slide img {
  object-fit: contain;           
} */

.slick-track {
  height: 100%;
}

/* ::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(64, 61, 57, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(235, 94, 40, 0.7);
}

::-webkit-scrollbar-track {
  background-color: rgb(64, 61, 57, 0.2);
}

.react-datepicker {
  @apply bg-[#E9E8E5] font-['Prompt'] rounded-lg shadow-lg max-w-md mx-auto;
}

.react-datepicker__header {
  @apply bg-transparent border-none;
}

.react-datepicker__month-container {
  @apply w-full;
}

.react-datepicker__month {
  @apply p-4;
}

.react-datepicker__day-names,
.react-datepicker__week {
  @apply flex justify-between;
}

.react-datepicker__day-name,
.react-datepicker__day {
  @apply w-8 h-8 flex items-center justify-center;
}

.react-datepicker__day--selected {
  @apply bg-[#D54E23] rounded-full;
}
.react-datepicker__day:hover,
.react-datepicker__day--keyboard-selected {
  @apply bg-[#D54E23] opacity-70 rounded-full;
}
